* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('trangchu/image4.png');
    background-size: cover;
    padding: 1px;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.navbar-icons {
    display: flex;
    gap: 10px; 
}

.navbar-icons img {
    width: 20px; 
    height: 20px;
}
.navbar-icons a{
    font-size: 18px;
}
/*Bar để chọn*/
.fixed-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    margin-top: 20px;
    max-width: 1200px;
    height: 90px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0px; 
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.fixed-bar .logo {
    height: 30px; 
}

.login-button {
    background-color: #005fa1;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

/*Ảnh Background*/
.promo-section {
    background-image: url('trangchu/image.webp'); 
    background-size: cover;
    background-position: center;
    height: 604px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 50px;
    padding-top: 140px;
}

.promo-content {
    text-align: left;
    max-width: 600px;
    padding: 20px;
}

.promo-content h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}
.promo-content p{
    font-size: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.promo-button {
    font-size: 16px;
    background-color: white;
    color: black;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.promo-button:hover {
    background-color: #005fa1;
    color: white;
}

/* Search bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.search-bar input {
    border: none;
    outline: none;
    width: 100%;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Main links */
.main-links {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    margin-top: 366px;
}

.main-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.main-links img {
    width: 50px; 
    height: 50px;
    margin-bottom: 5px; 
}
/*Nút bên phải*/
.contact-icons {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 999;
}

.contact-icons a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-icons a:first-child {
    background-color: #005fa1; 
}

.contact-icons a:nth-child(2) {
    background-color: #00c3ff; 
}

.contact-icons a:last-child {
    background-color: #ff4c5b; 
}

.contact-icons img {
    width: 30px;
    height: 30px;
}
